# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# PyCharm
.idea/

# Environment / Secrets
.env
.env.*

# Streamlit
.streamlit/secrets.toml

# Temporary files
*.tmp
*.log

# OS files
.DS_Store
Thumbs.db